{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{% static 'main/js/Chart.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link type="text/css" href="{% static 'main/css/hms.css' %}" rel="stylesheet"/>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    
    
   <meta charset="UTF-8">
    {% block st %}
    {% endblock %}
</head>
<body>
<div class="outer">
<div class="wrapper">
    <!-- Status bar div -->
    <div class="div"><img src="{% static 'main/img/Status-bar.png' %}" alt="header"></div>

    <!--left arrow and title div -->
    <div class="div" style="margin-top: -4px; background-color: #eaeaea; display : flex; align-items : center;">
        <div style="width: 50px; display:inline-block; margin-left:25px;:">
            <a href="/"><img src="{% static 'main/img/carrot-left.png' %}" alt="" width="30px" height="50px"></a>
        </div>
        <div style="width: 540px; text-align: center; display: inline-block;">
            <p style="font-size: 30px; font-weight : bold;">{% if inner_title %}{{inner_title}}{% else %}건강 관리 시스템{% endif %}</p>
        </div>
    </div>
    
    {% if navVisible is None %}
    {% block navigation %}
            <div class="nav-header" style="margin-top: 0px; height: 70px; background-color: #fff; border-bottom : 1px solid #eaeaea;">
                <div class="div1 head" style="width: 235px; height: 70px; {% if current == 'e' %} box-shadow : inset 0 -3px #107aff;  {% endif %}">
                    <p style="font-size: 20px; color: black; text-align: center;"><a class="nav-items" href="{% url 'exercise' %}" style="color : black; text-decoration : none;">홈</a></p>
                </div>
                <div class="div1 head" style="width: 235px; height: 70px; {% if current == 'r' %} box-shadow : inset 0 -3px #107aff; {% endif %}">
                    <p style="font-size: 20px; color: white; text-align: center;"><a class="nav-items" href="{% url 'exercise-recommend' %}" style="color : black; text-decoration : none;">추천 운동</a></p>
                </div>
                <div class="div1 head" style="width: 235px; height: 70px; {% if current == 'p' %} box-shadow : inset 0 -3px #107aff; {% endif %}">
                    <p style="font-size: 20px; color: white; text-align: center;"><a class="nav-items" href="{% url 'exercise-plan' %}" style="color : black; text-decoration : none;">운동 계획</a></p>
                </div>
        </div>
    {% endblock %}
    {% endif %}
<div class='content-wrapper'>
{% block content %}
{% endblock %}
</div>
<script>

</script>
</div>
</div>


<div class="footer" style="margin-top : 30px; align-items : center;">
    © 2020 건강 관리 시스템 &nbsp&nbsp<a href="https://gitlab.com/paulAhn"><img src="{% static 'main/img/logo.png' %}" height=30/></a>
</div>
</body>
</html>