{% extends 'main/include/head.html' %}
{% load static %}
{% block st %}   
    <script src="{% static 'main/js/main.js'%}"></script>
    <link href="{% static 'main/css/main.css' %}" rel="stylesheet" />

{% endblock %}
{% block content %}
    <div id="calender"><a id="addTodolist" href="#add-list" rel="modal:open">할 일 목록 추가</a></div>

    <div id="add-list" class="modal">
        <p style="font-weight : bold;">할 일 목록 추가</p>
        <form id="tdl-form">
            {{form.as_p}}
        </form>
        <input type="button" value="저장" class="add-tdl-btn">

    </div>

    <div class="tdl-lists">
        
    </div>

    <script>
        /*
            페이지 init
        */
        var c;
        $(document).ready(function(){
            c = new FullCalendar.Calendar($("#calender").get(0), {
                initialView: 'dayGridMonth',
                locale : 'ko',
                selectable: true,
                events: [
                            {% for t in tdls %}
                                {
                                    id: "{{t.pk}}",
                                    title: "{{t.tdl_title}}",
                                    start: "{{t.tdl_date|date:"Y-m-d"}}"
                                },
                            {% endfor %}
                        ],
                dateClick : getEventsByDate,
                eventContent  : function(arg, createElement){
                    console.log(arg, createElement);
                }
            });
            c.render();
            
        })

        function getEventsByDate(info){
            var date = info.dateStr;
            $.ajax({
                url : '/rest/tdl',
                type : 'get',
                data : {
                    'date' : date,
                },
                success : function(res){
                    try{
                        var tdls = JSON.parse(res.tds);
                        tdlrender(tdls);
                    }catch(err){}
                }
            })
        }

        function tdlrender(tdls){
            $(".tdl-lists").empty();
            for (var i=0; i<tdls.length; i++){
                var $el = $("<div class='tdl-card'>\
                            <span class='tdl-title'>"+tdls[i]['fields']['tdl_title']+"</span>\
                            </div>");
                $(".tdl-lists").append($el);
            }
        }

        $(".add-tdl-btn").click(function(){
            var fd = new FormData($("form#tdl-form").get(0));
            fd.append('csrfmiddlewaretoken', '{{csrf_token}}');
            $.ajax({
                url : '/exercise/plan',
                type : 'post',
                data : fd,
                contentType : false,
                processData : false,
                success : function(res){
                    try{
                        var e = JSON.parse(res.td)[0];
                        var ev = {
                            id : e.pk,
                            title : e.fields.tdl_title,
                            start : e.fields.tdl_date,
                        };
                        c.addEvent(ev);
                    }catch(err){
                        console.log(err);
                    }
                    alert(res.msg);
                    clearInput();
                },
                error : function(err){
                    console.log(err);
                }
            })
        })

        function clearInput(){
            $("#id_tdl_title, #id_tdl_content").val("");
        }



    </script>

{% endblock %}

