{% extends 'main/include/head.html' %}
{% load static %}

{% block st %}    
<style>
        .ExerciseImg {
            width: 720px;
            height: 300px;
            background-image: url({% static 'main/img/Exercise_magazine.jpg' %});
            background-position: bottom center;
            background-size: cover;
        }
</style>
{% endblock %}

{% block content %}  
    <!-- User name div -->
    <div class="title" style="font-size: 25px;">안주영님 환영합니다!</div>


    <!-- pedometer div -->
    <div class="div" style="height : 200px; text-align : center;">
        <div class="graph">
            <p>	
                <em>금일 걸음수</em><br>
                <strong><span style="color : #107aff">1300</span>/10000</strong>
            </p>
            <canvas id="graphPedometer"></canvas>
        </div>
        <script>
                (function drawChart(){
                    var ctx = document.getElementById('graphPedometer').getContext('2d');
                    var myBarChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                datasets: [{
                                    data: [1300, 10000],
                                    backgroundColor: [
                                        "#107aff",
                                        "#9b9b9b"
                                    ],
                                }],
                            },
                            options: {
                                cutoutPercentage: 90,
                                elements: {
                                    arc: {
                                        borderWidth: 0
                                    }
                                },
                                tooltips: {
                                    mode: 'none',
                                },
                                responsive: false,
                                legend: {
                                    position: 'top',
                                },
                                animation: {
                                    animateRotate: true
                                },
                            }
                        });
                })();
            </script>

    </div>
    <!-- Weekly Exercise Title div -->
    <div style="font-size: 25px;" class="title">주간 운동량</div>

    <div class="div" >
        <canvas id="graphExerciseAverageDaily"></canvas>
        <script>
            new Chart(document.getElementById("graphExerciseAverageDaily"),
                    {"type":"line","data":{"labels":["1주차","2주차","3주차","4주차","5주차","6주차","7주차"],
                    "datasets":[
                                {"label":"운동량",
                                "data":[72,59,58,32,100,55,40],
                                "fill":false,
                                "borderColor":"#107aff",
                                "lineTension":0.1}
                                ]}
                    ,"options":{}});
        </script>
    </div>
    <!-- health magazine title -->
    <div style="font-size: 25px;" class="title">건강 매거진</div>

    <!--health magazine image and link -->
    <div class="">
        <div class="swiper-container">
            <div class="swiper-wrapper">
            {% for m in magazines %}
                <div class="swiper-slide" style="height : 300px; {% if m.m_thumbnail %} background-image : url({{m.m_thumbnail.url}}); background-size : cover; {% endif %}" onclick="window.location.href='{{m.get_absolute_url}}'">
                <div class="swiper-wrapper-jy">
                    <div class="card-title">{{m.m_title}}</div>
                    <div class="card-date">{{m.m_modified_at}}</div>
                </div>
                </div>
            {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    

    <script>
        (function(){
            var swiper = new Swiper('.swiper-container', {
            autoplay : {
                delay : 2000,
            },
            pagination: {
                    el: '.swiper-pagination',
                },
            });
        })();
    </script>
{% endblock %}