{% extends 'main/include/head.html' %}
{% load static %}

{% block st %}  
    <style>
       
        .ExerciseImg {
            height: 300px;
            background-image: url({% static 'main/img/Exercise_magazine.jpg' %});
            {% comment %} background-position: bottom center; {% endcomment %}
            background-size: cover;
            margin-bottom : 10px;
            cursor : pointer;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Exercise for user title -->
    <div style="font-size: 25px;" class="title">안주영님을 위한 운동을 준비했습니다!</div>
    
    <!-- Exercise div -->
    {% for e in ex %}
        <div class="swiper-wrapper-jy" style="margin-bottom : 10px; {% if e.e_thumbnail %} background-image : url({{e.e_thumbnail.url}}); background-size : cover; {% endif %}"  onclick="window.location.href='{{e.get_absolute_url}}'">
            <div>
                <div class="card-title">
                {{e.e_name}}</div>
                <div class="card-date">
                {{e.e_description}}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}