{% extends 'main/include/head.html' %}

{% block content %}
<div class="main-wrapper">
  <div class="items" onclick="window.location.href='/exercise/plan'">
    <span class="menus items1"></span><br>
    <span>할 일 목록</span>
  </div>
  <div class="items" onclick="window.location.href='/diet'">
    <span class="menus items2"></span><br>
    <span>나의 식단</span>
  </div>
  <div class="items" onclick="window.location.href='/exercise'">
    <span class="menus items3"></span><br>
    <span>나의 운동</span>
  </div>
</div>
{% endblock %}